ag-grid-angular {
    margin: 0px auto;
    width: 100%;
    height: 500px;
    scrollbar-color: rgb(46, 218, 12);
}
p{
    font-size: 23px;
   
}
.table-container{
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh; 
    width: 90%;
}
.buttons-container{
    display: flex;
    justify-content: space-between;
    width: 100%;  
    margin-top: 20px;
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center; 
    width: 61%; 
    margin: 0 auto;
}


.withdrawals, .addTrade {
    padding: 10px 15px;
    font-size: 14px;
}
.addTrade{
    background:  #85f7ed;
    color: black;
}
.addTrade:hover{
    outline: 3px solid white;
    background:  #b6f3ee;
    color: black;
}
.withdrawals 
{
    background: #b9dddd;
    color: black;
}
.withdrawals:hover{
    outline: 3px solid white;
    background: #70cec6;
    color: black;
}
