ag-grid-angular {
    width: 100%;
    height: 700px;
}
p{
    font-size: 23px;
    margin: 10px;
}
.table-container{
    margin: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    resize: both;
    overflow:auto; 
    margin: 15px;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center; 
    width: 100%; 
    margin: 0 auto;
    /*A PARITR DE ACA PERRRO*/
}

.withdrawals, .addTrade {
    padding: 10px 15px;
    width: 100%;
    margin-top: 10px;
}
.addTrade{
    background:  #85f7ed;
    color: black;
}
.addTrade:hover{
    outline: 1px solid white;
    background:  #b6f3ee;
    color: black;
}
.withdrawals 
{
    background: #b9dddd;
    color: black;
}
.withdrawals:hover{
    outline: 1px solid white;
    background: #70cec6;
    color: black;
}
.currency-container{
    display: flex;
    flex-direction: column;
    float:inline-end;
    background: #2c2c2c57;
    justify-content: center;
    border-radius: 10px;
}
.currency-select, .currency-option{ 
    color: #ddd;
    border: 0px;
    justify-content: center;
}
.currency-select{
    background: transparent;
}
.currency-option{
    background: #1a1a1a;
}
.left-container{
    display: flex;
    flex-direction: column;
}
.revenue-container{
    margin-top: 10px;
    background: #2c2c2c57;
    border-radius: 10px;
}
