ul {

    margin: 0px;
    background: #06171d ;
    display: flex;
    box-shadow: 0px 5px 25px 10px #06171d;
}

li {
    list-style: none;
    padding: 10px;
}

li:hover {
    background: #f1f1f1;
    a {
        color: #333;
    }
}

a {
    text-decoration: none;
}
