<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Agregar Retiros</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="closeModal(true)"></button>
</div>
<div class="modal-body">
    <form>
        <input type="date" [(ngModel)]="date" name="date" class="form-control" />
        <select class="form-control" placeholder="Moneda">
            <option value="" disabled selected>Seleciona la Moneda</option>
            <option value="USD">USD</option>
            <option value="AR$">AR$</option>
            <option value="EUR">EUR</option>
        </select>
        <input type="number" step="any" placeholder="Monto" class="form-control" />
        <input type="number" step="any" placeholder="Tipo de cambio" class="form-control" />
        <select class="form-control">
            <option value="Efectivo">Efectivo</option>
            <option value="Transferencia">Transferencia</option>
            <option value="Cheque">Cheque</option>
        </select>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="saveWithdrawals()">Retirar</button>
</div>
